<shared-title title="Control Flow" withShadow></shared-title>

<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="bg-white rounded shadow p-10">
        <h2 class="text-2xl font-bold mb-5">if: {{showContent()}}</h2>
        <button class="p-2 bg-blue-500 rounded text-white" (click)="toggleContent()">Click me !!</button>
        @if (showContent()) {
            <p>Hola Mundo</p>
        }
        @else {
            <p>**** ******</p>
        }
    </div>
    <div class="bg-white rounded shadow p-10">
        <h2 class="text-3xl">{{grade()}}</h2>
        @switch (grade()) {
            @case ('A') {
                <p>Aprobo</p>
            }
            @case ('B') {
                <p>Panzo</p>
            }
            @case ('F') {
                <p>Reprobo</p>
            }
        }
    </div>
    <div class="bg-white rounded shadow p-10">
        <h1>Arreglo de Frameworks lleno</h1>
        <ul>
            @for (framework of frameworks(); track i; let i = $index) {
                <li>{{i+1}} - {{framework}}</li>
            }
        </ul>
        <br>
        <hr>
        <br>
        <h1>Arreglo de Frameworks vacio (for()empti)</h1>
        <ul>
            @for (framework of frameworks2(); track $index) {
                <li>{{framework}}</li>
            }@empty {
                <li>No hay frameworks</li>
            }
        </ul>
    </div>
</section>