<!-- component -->
<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<style>
    :root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
</style>
<div class="flex bg-slate-100 overflow-y-scroll text-black w-screen h-screen antialiased text-slate-300 selection:bg-blue-600 selection:text-white">
    <div class="flex relative relative w-screen">
        <shared-sidemenu></shared-sidemenu>
        <div class="text-black px-2 mt-2 w-full">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>